.myheader
{
	color: lightslategrey;
}

.flexrow
{
	
	display:flex;
}

.filler
{
	flex-grow: 1;
}

.form-group
{
	margin-left:5%;
	margin-right:5%;
}

.guigreen, .guired
{
	margin: 10px;
	width : 200px;

}

.infobutton
{
	margin-top:10px;
	margin-right:10px;
}

 .emphasis
 {
	 font-size:larger;
	 font-style:oblique;
 }

 .pace 
 {
	-webkit-pointer-events: none;
	pointer-events: none;
  
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  }
  
  .pace-inactive 
  {
	display: none;
  }
  
  .pace .pace-progress 
  {
	background: rgb(24, 168, 101);
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;
  }
  
.odd { background-color:gainsboro; }
.even { background-color: silver; }

hr { 
	margin-top: 5px;
	margin-bottom: 5px;
	border-width: 10px;
  }